<p-toast></p-toast>

<div class="ml-3">
    <h2>Piping</h2>
    <h3>Line Number: {{line_number}}</h3>
</div>

<div class="flex flex align-items-center justify-content-start mx-3">
    <p-table [value]="cmls" [paginator]="cmls.length > 5" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                CML
                <p-button icon="pi pi-plus" (onClick)="add()" severity="success" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>CML Number</th>
                <th>CML Description</th>
                <th>Actual Outside Diameter</th>
                <th>Design Thickness(mm)</th>
                <th>Structural Thickness(mm)</th>
                <th>Required Thickness(mm)</th>
                <th style="width: 5rem"></th>
            </tr>
            <tr *ngIf="cmls.length == 0">
                <td colspan="7">
                    <label class="flex font-medium font-italic text-400 justify-content-center">No Data</label>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cml>
            <tr>
                <td>{{ cml.cml_number }}</td>
                <td>{{ cml.cml_description }}</td>
                <td>{{ cml.actual_outside_diameter }}</td>
                <td>{{ cml.design_thickness }}</td>
                <td>{{ cml.structural_thickness }}</td>
                <td>{{ cml.required_thickness }}</td>
                <td>
                    <div class="flex align-items-center justify-content-between gap-1">
                        <p-button label="TP" severity="info" (onClick)="showTestPoint(cml)" />
                        <p-button icon="pi pi-pencil" severity="warning" (onClick)="edit(cml)" />
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="delete(cml)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Piping Information" [(visible)]="isShow" [modal]="true" [style]="{ width: '70vw'}"
    (visibleChange)="close()">
    <div class="flex align-items-center justify-content-between gap-3 mb-3 mt-3">
        <label class="font-semibold w-6rem">Line number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="selectedCml!.line_number" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">CML Number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="selectedCml!.cml_number" />
        <label class="font-semibold w-6rem">CML Description</label>
        <input pInputText class="flex-auto p-inputtext-sm" [required]="true" [(ngModel)]="selectedCml!.cml_description" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Actual Outside Diameter</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedCml!.actual_outside_diameter" />
        <label class="font-semibold w-6rem">Design Thickness</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedCml!.design_thickness" />
    </div>
    <div class="flex align-items-center justify-content-start gap-3 mb-3">
        <label class="font-semibold w-6rem">Structural Thickness</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedCml!.structural_thickness" />
        <label class="font-semibold w-6rem">Required Thickness</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedCml!.required_thickness" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Save" severity="contrast" (click)="save(selectedCml!)" />
    </div>
</p-dialog>

<p-dialog header="Delete Piping" [(visible)]="isDelete" [modal]="true" (visibleChange)="close()">
    Do you want delete CML number {{selectedCml!.cml_number}}?
    <div class="flex justify-content-end gap-2 mt-3">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Delete" severity="danger" (click)="save(selectedCml!)" />
    </div>
</p-dialog>

<div class="flex flex align-items-center justify-content-start ml-3">
    <app-test-point *ngIf="showTP" [cml_number]="selectedCml!.cml_number"></app-test-point>
</div>