<p-toast></p-toast>

<p-table [value]="testPoints" [paginator]="testPoints.length > 5" [rows]="5" [style]="{width: '50rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Test Point
            <p-button icon="pi pi-plus" (onClick)="add()" severity="success" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>TP Number</th>
            <th>TP Description</th>
            <th>Note</th>
            <th style="width: 5rem"></th>
        </tr>
        <tr *ngIf="testPoints.length == 0">
            <td colspan="4">
                <label class="flex font-medium font-italic text-400 justify-content-center">No Data</label>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tp>
        <tr>
            <td>{{ tp.tp_number }}</td>
            <td>{{ tp.tp_description }}</td>
            <td>{{ tp.note }}</td>
            <td>
                <div class="flex align-items-center justify-content-between gap-1">
                    <p-button label="TK" severity="info" (onClick)="showThickness(tp)" />
                    <p-button icon="pi pi-pencil" severity="warning" (onClick)="edit(tp)" />
                    <p-button icon="pi pi-trash" severity="danger" (onClick)="delete(tp)"/>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Piping Information" [(visible)]="isShow" [style]="{ width: '70vw'}" [modal]="true" (visibleChange)="close()">
    <div class="flex align-items-center justify-content-between gap-3 mb-3 mt-3">
        <label class="font-semibold w-6rem">Line number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="line_number" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">CML Number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="cml_number" />
        <label class="font-semibold w-6rem">TP Number</label>
        <input pInputText class="flex-auto p-inputtext-sm"  [disabled]="true" [(ngModel)]="selectedTestPoint.tp_number" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">TP Description</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedTestPoint.tp_description" />
        <label class="font-semibold w-6rem">Note</label>
        <input pInputText class="flex-auto p-inputtext-sm" [(ngModel)]="selectedTestPoint.note" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Save" severity="contrast" (click)="save(selectedTestPoint)" />
    </div>
</p-dialog>

<p-dialog header="Delete Piping" [(visible)]="isDelete" [modal]="true" (visibleChange)="close()">
    Do you want delete test point number {{selectedTestPoint.tp_number}}?
    <div class="flex justify-content-end gap-2 mt-3">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Delete" severity="danger" (click)="save(selectedTestPoint)" />
    </div>
</p-dialog>

<div class="flex flex align-items-center justify-content-start">
    <app-thickness *ngIf="showTK" [cml_number]="cml_number" [tp_number]="selectedTestPoint.tp_number"></app-thickness>
</div>