:host {
    ::ng-deep {
        .p-datepicker table td {
            padding: 0.13rem;
        }
        
        .p-datatable-tbody {

            tr {
                max-height: 30px;

                td {
                    padding: 0.5rem 0.5rem;
                }
            }
        }

        .p-datatable-header {
            padding: 0.5rem;
        }
    }
}