<p-toast></p-toast>

<p-table [value]="thicknesses" [paginator]="thicknesses.length > 5" [rows]="5" [style]="{width: '50rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Thickness
            <p-button icon="pi pi-plus" (onClick)="add()" severity="success" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Inspection Date</th>
            <th>Actual Thickness(mm)</th>
            <th style="width: 5rem"></th>
        </tr>
        <tr *ngIf="thicknesses.length == 0">
            <td colspan="3">
                <label class="flex font-medium font-italic text-400 justify-content-center">No Data</label>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tk>
        <tr>
            <td>{{ tk.inspection_date }}</td>
            <td>{{ tk.actual_thickness }}</td>
            <td>
                <div class="flex align-items-center justify-content-between gap-1">
                    <p-button icon="pi pi-pencil" severity="warning" (onClick)="edit(tk)" />
                    <p-button icon="pi pi-trash" severity="danger" (onClick)="delete(tk)"/>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Piping Information" [(visible)]="isShow" [style]="{ width: '70vw'}" [modal]="true" (visibleChange)="close()">
    <div class="flex align-items-center justify-content-between gap-3 mb-3 mt-3">
        <label class="font-semibold w-6rem">Line number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="line_number" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">CML Number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="true" [(ngModel)]="cml_number" />
        <label class="font-semibold w-6rem">TP Number</label>
        <input pInputText class="flex-auto p-inputtext-sm"  [disabled]="true" [(ngModel)]="tp_number" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Inspection Date</label>
        <p-calendar class="flex-auto p-inputtext-sm" [disabled]="isEdit" [touchUI]="true"
            (onSelect)="formatDate($event)" [(ngModel)]="selectedThickness.inspection_date" dateFormat="yy-mm-dd"
            [style]="{ width: '100%' }" />
        <label class="font-semibold w-6rem">Actual Thickness</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [required]="true" [(ngModel)]="selectedThickness.actual_thickness" [autofocus]="true"/>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Save" severity="contrast" (click)="save(selectedThickness)" />
    </div>
</p-dialog>

<p-dialog header="Delete Piping" [(visible)]="isDelete" [modal]="true" (visibleChange)="close()">
    Do you want delete thickness inspection date {{selectedThickness.inspection_date}}?
    <div class="flex justify-content-end gap-2 mt-3">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Delete" severity="danger" (click)="save(selectedThickness)" />
    </div>
</p-dialog>
