<p-toast></p-toast>

<div class="ml-3">
    <h2>Piping</h2>
</div>

<div class="flex align-items-center justify-content-start mx-3">
    <p-table [value]="infos" [paginator]="infos.length > 7" [rows]="7">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Info
                <p-button icon="pi pi-plus" (onClick)="add()" severity="success" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Line Number</th>
                <th>Location</th>
                <th>From</th>
                <th>To</th>
                <th>Pipe Size(inch)</th>
                <th>Service</th>
                <th>Material</th>
                <th style="width: 5rem"></th>
            </tr>
            <tr *ngIf="infos.length == 0">
                <td colspan="8">
                    <label class="flex font-medium font-italic text-400 justify-content-center">No Data</label>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-info>
            <tr>
                <td>{{ info.line_number }}</td>
                <td>{{ info.location }}</td>
                <td>{{ info.from }}</td>
                <td>{{ info.to }}</td>
                <td>{{ info.pipe_size }}</td>
                <td>{{ info.service }}</td>
                <td>{{ info.material }}</td>
                <td>
                    <div class="flex align-items-center justify-content-between gap-1">
                        <p-button label="Info" severity="info" (onClick)="show(info)" />
                        <p-button label="Detail" (onClick)="goToDetail(info)" />
                        <p-button icon="pi pi-trash" severity="danger" (onClick)="delete(info)"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Piping Information" [(visible)]="dialogVisible" [modal]="true" [style]="{ width: '70vw'}"
    (visibleChange)="close()">
    <div class="flex align-items-center justify-content-between gap-3 mb-3 mt-3">
        <label class="font-semibold w-6rem">Line number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isAdd" [required]="true"
            placeholder="X-XX-XXX-XXXXX" [(ngModel)]="selectedInfo.line_number" />
        <label class="font-semibold w-6rem">Location</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.location" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">From</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.from" />
        <label class="font-semibold w-6rem">To</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.to" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Drawing number</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.drawing_number" />
        <label class="font-semibold w-6rem">Service</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.service" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Material</label>
        <input pInputText class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [required]="true"
            [(ngModel)]="selectedInfo.material" />
        <label class="font-semibold w-6rem">Inservice date</label>
        <p-calendar class="flex-auto p-inputtext-sm" [disabled]="!isEdit && !isAdd" [touchUI]="true"
            (onSelect)="formatDate($event)" [(ngModel)]="selectedInfo.inservice_date" dateFormat="yy-mm-dd"
            [style]="{ width: '100%' }" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Pipe size</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.pipe_size" />
        <label class="font-semibold w-6rem">Original thickness</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.original_thickness" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Stress</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.stress" />
        <label class="font-semibold w-6rem">Joint Efficiency</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.joint_efficiency" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">CA</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.ca" />
        <label class="font-semibold w-6rem">Desgin life</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.design_life" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-3">
        <label class="font-semibold w-6rem">Desgin Pressure</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.design_pressure" />
        <label for="Operating Pressure" class="font-semibold w-6rem">Operating Pressure</label>
        <input pInputText id="operatingPressure" class="flex-auto p-inputtext-sm" type="number"
            [disabled]="!isEdit && !isAdd" [required]="true" [(ngModel)]="selectedInfo.operating_pressure" />
    </div>
    <div class="flex align-items-center justify-content-between gap-3 mb-5">
        <label class="font-semibold w-6rem">Desgin Tempuerature</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.design_temperature" />
        <label class="font-semibold w-6rem">Operating Tempuerature</label>
        <input pInputText class="flex-auto p-inputtext-sm" type="number" [disabled]="!isEdit && !isAdd"
            [required]="true" [(ngModel)]="selectedInfo.operating_temperature" />
    </div>
    <div class="flex align-items-center justify-content-between">
        <div class="flex justify-content-start">
            <p-button icon="pi pi-pencil" label="Edit" severity="warning" [ngClass]="{'hidden': !isShow}"
                (onClick)="edit()" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" [ngClass]="{'hidden': !isEdit && !isAdd}" (click)="close()" />
            <p-button label="Save" severity="contrast" [ngClass]="{'hidden': !isEdit && !isAdd}"
                (click)="save(selectedInfo)" />
        </div>
    </div>
</p-dialog>

<p-dialog header="Delete Piping" [(visible)]="isDelete" [modal]="true" (visibleChange)="close()">
    Do you want delete pipe line number {{selectedInfo.line_number}}?
    <div class="flex justify-content-end gap-2 mt-3">
        <p-button label="Cancel" severity="secondary" (click)="close()" />
        <p-button label="Delete" severity="danger" (click)="save(selectedInfo)" />
    </div>
</p-dialog>